venv/
__pycache__/
__*
!__init__.py
example_reader.*
instance/
.pytest_cache/
.env

gateways/*
!gateways/README.md

plugins/*
!plugins/README.md

.addons/*
!.addons/.gitkeep

*.log
*.gz

static/map.svg
