alembic==1.15.2
authlib==1.5.2
Flask==3.1.1
Flask_Migrate==4.1.0
Flask_SocketIO==5.5.1
flask_sqlalchemy==3.1.1
pytest==8.3.5
python-dotenv==1.1.0
Requests==2.32.3
schedule==1.2.2
SQLAlchemy==2.0.41
python-ldap==3.4.4
gevent==25.5.1
