<div class="row mb-4">
    <div class="d-flex flex-wrap gap-2">
        <form action="{{ url_for('map.open', reader_id=reader_id) }}" method="POST">
            <button class="btn btn-secondary">Open Door</button>
        </form>
        <form action="{{ url_for('map.restart', reader_id=reader_id) }}" method="POST">
            <button class="btn btn-secondary">Restart</button>
        </form>
    </div>
</div>
<hr>
<div class="row mb-4">
    <div class="d-flex flex-wrap gap-2">
        {% for action in actions %}
        <form action="{{ url_for('actions.map', action_name=action.__name__, gateway_uid=gateway_uid, reader_id=reader_id) }}" method="POST">
            <button class="btn btn-secondary">{{action.name}}</button>
        </form>
        {% endfor %}
    </div>
</div>