{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Add reader</h1>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Name (ex: door1)</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" name="description" class="form-control">
    </div>
    
    <div class="mb-3 form-check">
        <input type="checkbox" name="is_active" class="form-check-input" checked>
        <label class="form-check-label">Activate</label>
    </div>

    <div class="col-md-6 mb-3">
        <label for="gateway" class="form-label">Gateway :</label>
        <select class="form-select" id="gateway" name="gateway" required>
            <option value="" disabled selected>Choose a gateway</option>
            {% for gateway in gateways %}
                <option value="{{ gateway.uid }}">{{ gateway.name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ url_for('readers.index') }}" class="btn btn-secondary">Back</a>
</form>
{% endblock %}
