{% extends 'base.html' %}

{% block content %}
<h1>Gateways Managing</h1>
<a href="{{ url_for('addons.index') }}" class="btn btn-success mt-3">Manage</a>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>UID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for gateway in gateways %}
        <tr>
            <td>{{ gateway['uid'] }}</td>
            <td>{{ gateway['name'] }}</td>
            <td class="d-flex gap-1">
                <a href="{{ url_for('gateways.view', gateway_uid=gateway["uid"]) }}" class="btn btn-sm btn-warning" title="Edit">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
