{% extends 'base.html' %}

{% block content %}
<h1>Ajouter un lecteur de porte</h1>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Nom technique (ex: porte1)</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" name="description" class="form-control">
    </div>
    
    <div class="mb-3 form-check">
        <input type="checkbox" name="is_active" class="form-check-input" checked>
        <label class="form-check-label">Activer ce lecteur</label>
    </div>
    
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="{{ url_for('zones') }}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
