{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <h2>Ajouter un utilisateur</h2>
    <form method="post" class="row g-3">
        <div class="col-md-6">
            <label for="name" class="form-label">Nom :</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        
        <div class="col-md-4">
            <label for="is_active" class="form-label">Utilisateur actif :</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is_active" name="is_active" checked>
                <label class="form-check-label" for="is_active">Oui</label>
            </div>
        </div>

        <!-- <div class="col-md-4">
            <label for="access_start" class="form-label">Début d'accès (optionnel) :</label>
            <input type="time" class="form-control" id="access_start" name="access_start">
        </div>

        <div class="col-md-4">
            <label for="access_end" class="form-label">Fin d'accès (optionnel) :</label>
            <input type="time" class="form-control" id="access_end" name="access_end">
        </div> -->

        <div class="col-12">
            <button type="submit" class="btn btn-success">Ajouter</button>
            <a href="{{ url_for('users.index') }}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
